body {
  color: antiquewhite;
  font-family: Helvetica, Arial, sans-serif;
  color: #2a607c;
  background-color: gainsboro;
}

/* header styling start */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px 35px;
  background-color: #080808;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(../images/70667.jpg);
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  z-index: 9999;
}

header div {
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

header h1 {
  color: #2a607c;
  font-size: 40px;
  font-weight: bold;
  background-color: var(--secondary);
  padding: 10px;
  border: 5px solid var(--pop);
 
}

header a {
  text-decoration: none;
  color: #2a607c;
}

header nav {
  margin: 20px;
}
    
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: rgb(199, 181, 199);
  color: gray;
  border-radius: 10px;
  text-shadow: none;
}

/*Hero style*/

.hero {
  background-image: url("../images/horiseon.jpg");
  height: 600px;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
}


/* hero styling end */

.card {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
}

/* hero styling end */
/* utility class styling start */

.title {
  border-right: 5px solid var(--pop);
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
}

/* utility class styling end */

/* about me section styling start */

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
}

.bio-pic {
  width: 25%;
  border: 2px solid antiquewhite;
  justify-content: flex-end;
  border-radius: 14px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.example-container {
  display: flex;
  /* padding: 10px; */
  justify-content: space-between;
  align-items: center;
  border-top: 10px solid #2a607c;
  border-bottom: 10px solid#2a607c;
  /* border: 2px solid rgb(0, 255, 136); */
}

.work-label {
  text-align: center;
  /* border: 2px solid #493a5a; */
  background-color: rgba(128, 128, 128, 75%);
  transform: rotate(-90deg);
  border-radius: 14px;
  padding: 10px;
}
.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border-radius: 14px; */

}
  .project1 {
    height: 300px;
    width: 300px;
    background-image: url(".../images/horiseon.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid antiquewhite;
    border-radius: 14px;
    padding: 10px;
    flex-basis: 100%;
  }

.project2 {
  height: 300px;
  width: 300px;
  background-image: url("../images/coming\ soon.jpg");

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid antiquewhite;
  border-radius: 14px;
  padding: 10px;
  flex-basis: 100%;
}

.project3{
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 24%;
  background-image: url("../images/more-to-come.jpg");
  border: 2px solid antiquewhite;
  border-radius: 14px;
  }
  
  .project4 {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 24%;
    background-image: url("../images/stay\ tuned.jpg");
    border: 2px solid antiquewhite;
    border-radius: 14px;
    }
  
    .project5 {
      height: 200px;
      width: 200px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-basis: 24%;
      background-image: url("../images/under\ con.jpg");
      border: 2px solid antiquewhite;
      border-radius: 14px;
    }

    div.work-container span {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      width: 50%;
      border-radius: 14px;
      background-color: rgba(128, 128, 128, 75%);
      color: antiquewhite;
      padding: 10px 5px;
      text-align: center;
    }
    
    .project1 a {
      text-decoration: none;
      color: antiquewhite;
    }

   /* End Example Section*/
/* Contact Section */
.contact-card {
  display: flex;
  padding: 10px;
  margin: 50px 0 50px 0;
  justify-content: space-between;
  align-items: center;
}
.contact-label {
  text-align: center;
  /* border: 2px solid #493a5a; */
  background-color: rgba(128, 128, 128, 75%);
  transform: rotate(-90deg);
  border-radius: 14px;
  border-right: 2px solid #2a607c;
  padding: 10px;
} 

.cm-buttons nav {
  margin: 10px 0;
}
.cm-buttons nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.cm-buttons nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #2a607c
}
.cm-buttons nav ul li a:hover {
  background: rgb(199, 181, 199);
  color: gray;
  border-radius: 10px;
  text-shadow: none;
}
/* End Contact Section */

.about-me h2 {
  font-size: 48px;
}

.about-me p {
  font-size: 20px;
  padding: 0 15px;
  line-height: 1.6;
} 

/* about me section styling end */

/* my work section styling start */

.my-work {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
}

.my-work h2 {
  color: var(--secondary);
}

.projects-grid-wrapper {
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
}


.projects-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.project {
  border: solid;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.project:hover {
  opacity: 1.0;
}

.project1 {
  grid-column: 1/3;
  grid-row: span 2;
  background-image: url("../images/horiseon.jpg");
  height: 450px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid orange; */
  border-radius: 14px;
  padding: 30px;
  flex-basis: 100%;
}


.project2 {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 24%;
  background-image: url("../images/coming\ soon.jpg");
  border: 2px solid antiquewhite;
  border-radius: 14px;

}

.project3 {
  background-image: url("../images/more-to-come.jpg");
  background-size: cover;
  background-position: 50% 80%;
  height: 200px;
  width: 200px;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 25%;
  /* border: 1px solid greenyellow; */
  border-radius: 14px;
  flex-basis: 25%;
}

.project4 {
  background-image: url("../images/stay\ tuned.jpg");
  background-size: cover;
  background-position: center;
  background-position: 50% 16%;
  height: 200px;
  width: 200px;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 25%;
  /* border: px solid greenyellow; */
  border-radius: 14px;
  flex-basis: 25%;
}

.project5 {
  background-image: url("../images/under\ con.jpg");
  background-size: cover;
  background-position: center;
  background-position: 50% 16%;
  height: 200px;
  width: 200px;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 25%;
  /* border: 2px solid greenyellow; */
  border-radius: 14px;
  flex-basis: 25%;
}

.project-label {
  /*background-color: var(--secondary);*/
  background-color: lightgray;;
  color: var(--primary);
  padding: 10px;
}
/* my work section styling end */
/* contact me section styling start */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.content-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-list {
  width: 60%;
  /*padding-right: 100px;
  align-self: center;*/
}

footer h2 {
  font-size: 40px;
}


footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  font-size: 30px;
  font-weight: bolder;
}

footer ul li {
  /*padding-bottom: 15px;*/
  font-weight: bold;

}

footer ul li a {
  text-decoration: none;
  color: var(--primary);
  padding: 8px;
  font-weight: bold;
}

footer ul li a:hover {
  background: var(--pop);
  color: var(--secondary);
  border-radius: 15px;
}

/* contact me section styling end */

/* MEDIA QUERY FOR TABLET SCREENS AND SMALLER */
@media screen and (max-width: 768px) {
  .hero .quote {
      font-size: 28px;
      padding-right: 20px;
  }
  
  .hero .quote #quote-text {
      font-size: 35px;
  }
  .title h2 {
      font-size: 35px;
  }
  .about-me p {
      font-size: 16px;
      /*padding: 0 15px;*/
      line-height: 1.6;
  }
}
/* MEDIA QUERY FOR TABLET SCREENS AND SMALLER */
@media screen and (max-width: 575px) {
  header {
      justify-content: center;
      padding: 20px;
  }
  header nav ul {
      min-height: 80px;
  }
  .hero {
      flex-direction: column;
  }
  .about-me {
      flex-direction: column;
  }
  .title {
      border-bottom: 5px solid var(--pop);
      border-right: none;
      text-align: center;
      min-width: 100%;
      max-width: 100%;
      padding: 0;
  }
  .about-me p {
      font-size: 16px;
      line-height: 1.6;
      width: 100%;
      padding: 15px;
  }

  .my-work {
      flex-direction: column;
      padding: 70px 0;
  }

  .projects-grid-wrapper {
      width: 100%;
      padding: 10px;
  }

  .projects-grid {
      width: 80%;
  }
  footer {
      flex-direction: column;
  }
  footer ul {
      flex-direction: column;
  }
  .content-wrapper {
      width: 100%;
  }
  footer ul li {
      padding: 10px;
      text-align: center;
  }
  
}